<% provide(:title, 'Chartkick') %>
<%= line_chart completed_tasks_charts_path %>
<h1>Проба Chartkick</h1>
<p>

  <a href="http://http://chartkick.com/">искомый сайт</a>
 <br><br>
  <%= link_to 'обратно', mstores_path %>
</p>