
<h1>Проба Chartkick</h1>
<p>
  <!--%= pie_chart completed_tasks_charts_path %-->
  <!--%= pie_chart Mstore.group(:position).count %-->
  <a href="http://chartkick.com/">искомый сайт</a>
 <br><br>
  <%= link_to 'обратно', mstores_path %>
</p>