// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap";
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
//@import "fotorama";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #D3D3D3;
$gray: #808080;
$grayDarker: #696969;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  border-radius: 0.0px;       //for dataTable
  @include box_sizing;
}

input {
  height: auto !important;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* мой цвет for navbar bootstrap */

.navbar {
    min-height: 40px;
  .navbar-inner {
    background-color: #340a51;
    background-image: none;
  }
}

.mybg{
  background-color: #58425a;
  color: #ffffff;
}


tfoot th { white-space: nowrap; }

.tulbar {             // это то, что я вставляю над шапкой табл. "example" между элементами len и search: выбор дат.
  width: 600px;
  height: 41px;
  display: inline-block;
  position: absolute;
  margin-left: 30px;
}
.tulbar #dgroup{
 // position: relative;
  width: 290px;
  height: 41px;
  input {
    left:5px;
    Width: 120px;
    margin-left: 1.0em;
    margin-bottom: 4.0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    //  box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
  }
}
.tulbar #rgroup{
    width: 120px;
    height: 39px;
    margin-left: 330px;
    border: 1px solid #cccccc;
    transform: translate(0%,-100%);
}

.tulbar label {
  width: 10px; height: 30px;
  padding:0px;
  margin-left: 15px;
  margin-bottom: 0px;
//  border: 1px solid;
}
/*.tulbar{
  transform: translate(30%,0%);
}*/
::-webkit-inner-spin-button { display: none; }
::-webkit-datetime-edit-fields-wrapper { height: 30px; }

/* выравниваю метки в ряд с полями ввода в dataTable - не подейтвовало*/

.dataTables_wrapper  label {  //input
  text-align: left;
  font-weight: 500;
  border-radius: 0.0px;
}
.dataTables_wrapper select {
  width: 70px;
  border: 1px solid #cccccc;
  background-color: white;
}
.dataTables_length{
  margin-top: 1.0em;
  margin-bottom: 4.0px;
  transform: translate(0%,-10px);
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 0.0px;
  align-items: right;
  transform: translate(0%,5px);
}

#example-filter {
  //display: inline;
  margin-top: 1.0em;
  margin-bottom: 4.0px;
}

/*
.selper {
  //display: block;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}*/
